/*~~~~~~~~~~~~~~~~Main css~~~~~~~~~~~~~~~~~~*/

body {

    background: url(../assets/OIP.jpg) no-repeat fixed;
    background-size: cover;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#upsign{

    background-color: gray;
    position: absolute;
    top:0px;
    left:0px;
    right: 0px;
    padding:0px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.upsignp{

    color:silver;
    display: inline;
    text-align: justify;
    margin-right: 300px;

}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#aboutus{

    margin-left: 460px;

}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#logo{

    position: absolute;
    left: 250px;
    top: 125px;
    border: double 6px #0e0eff;
    box-shadow: 4px 4px 6px black;

}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#flag{

    position: absolute;
    right: 210px;
    top: 145px;
    border: double 6px #0e0eff;
    box-shadow: -4px 4px 6px black;

}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#titre{

    font-size: 75px;
    font-family: impact;
    color: #0e0eff;
    position: absolute;
    top: 100px;
    left: 38%;
    border: double 10px #0e0eff;
    box-shadow: 8px 8px 10px black;
    padding: 20px;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#slogan{

    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: silver;
    display: inline;
    border: solid 8px silver;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: -8px -8px 10px whitesmoke;
    padding: 10px;
    position: absolute;
    left: 600px;
    top: 450px
    

}
#sloganbis{

    font-size: 45px;
    color:#0e0eff;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    border: solid 8px silver;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 8px 8px 10px whitesmoke;
    padding: 10px;
    position: absolute;
    left: 600px;
    top: 450px
    

}