body{

    background-color:silver;
    background-image: url(../assets/clavier.png);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;

    font-family: Impact, Charcoal, sans-serif;
    

}

h2{

   background-color: black;
   opacity: 0.8;


}

a{
    color:inherit;
    text-decoration: inherit;
    
}



td{

    border: 2px solid whitesmoke;
    background-color: black;
    color: whitesmoke;
    opacity: 1;
}

p{

    border: 2px solid whitesmoke;
    background-color: black;
    color: whitesmoke;
    padding-left: 5px;
    padding-right: 5px;
    

}


.td1{

    width: 160px;
}

.td2{

    color: grey;
    width: 108px;
}

.td3 {

 
    width: 305px;
}

.td4{
    width: 204px;
}
.titre1{

    box-sizing: border-box;
    color: white;
    text-align: center;
    text-decoration: underline;
    border: 4px solid whitesmoke;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 75px;
    margin-left: 600px;
    margin-bottom: 100px;
    height: 80px;
    width: 720px;
    

}

.flex {

    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: space-between
  }
  
  .col {
    width: -1000px;
  }


